body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #f2f6f9;
  padding-top: 200px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.menu {
  height: fit-content;
}
